# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Sawyer X <xsawyerx@cpan.org> sawyer <sawyer@dungeon.(none)>
Sawyer X <xsawyerx@cpan.org> sawyer <sawyer@potato.(none)>
Jonathan Rockway <jrockway@cpan.org> jrockway <jrockway@3efe9002-19ed-0310-8735-a98156148065>
יובל קוג'מן (Yuval Kogman) <nothingmuch@woobling.org> Yuval Kogman <nothingmuch@woobling.org>
